a {
  text-decoration: none;
  color: #66bfbf;
}

a:hover {
  color: #DC143C;
  text-decoration: underline;
}

body {
  background-color: #EAF6F6;
  margin: auto 20px auto 20px;
}

h1, h3, h4 {
  color: #66bfbf;
}

/* #b9e6d3 */

.image {
  border-radius: 100%
}

.footer-link {
  margin: auto 2px auto 2px;
}

.footer-logo {
  height: 30px;
}

#footer-site {
  border-radius: 20%;
}
